<div ng-controller="MainCtrl">
	<hr>
	<slide-show ></slide-show>
	
	<!-- <div class="row" align="center">
		<div class="col-lg-12">
			<div class="input-group" style="margin-bottom: 50px;">
				<input type="text" class="form-control" ng-model="searchItem"
					placeholder="Search for..."> <span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
			</div>
		</div>
	</div> -->
	<div style="margin-bottom: 50px;"></div>
	<div class="row">
		<div class="col-lg-7">
			<div ng-repeat="x in prodotti | filter:searchItem |limitTo:4 ">

				<div class="col-lg-6" align="center">
					<h4>
						<p>
							<strong>{{ x.nome }}</strong>
						</p>
					</h4>
					<img src="images/img_01.png" title={{x.descrizione}}><br>
					<div class="caption">Euro {{ x.prezzo }}</div>
					<a class="btn btn active" role="button" ng-href="#/descrizione"
						ng-click="selected(x)" style="margin-bottom: 10px">Entra</a>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<!-- news -->
			<div class="news">
				<div class="news-text">
					<h3>LATEST NEWS</h3>
					<p>Repellat earum rerum hic tenetur a sapiente delectus, ut aut
						reiciendis voluptatibus maiores alias consequatur aut perferendis
						doloribus asperiores repellat.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="...">
	<div class="btn-group" role="group" aria-label="...">1</div>
	<div class="btn-group" role="group" aria-label="...">2</div>
	<div class="btn-group" role="group" aria-label="...">3</div>
</div>
