<a class="btn btn active" style="float: right;" role="button"
	ng-href="#/registrazione">Torna indietro</a>
<div class="row">

	<div class="col-sm-12 col-md-12 col-hi-12">
		<form ng-submit="registrazionePrivato(Privato)">
			<div class="form-inline" align="left">
				
				<legend>Dati Privato</legend>
				<p>
					<input type="text" class="form-control"
						data-ng-model="Privato.nome" required maxlength="20"
						placeholder="Nome"> <input type="text"
						class="form-control" data-ng-model="Privato.cognome" required
						maxlength="20" placeholder="Cognome"> <input type="text"
						class="form-control" data-ng-model="Privato.cf" required
						maxlength="16" placeholder="Codice Fiscale"><br>
				</p>
				<input type="number" class="form-control"
					data-ng-model="Privato.telefono" min="0" max="999999999999"
					required placeholder="Telefono">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>Indirizzo</legend>
				<p>
					<select class="form-control" ng-model="Privato.tipovia">
						<option ng-repeat="x in tipovia">{{x}}</option>
					</select>
				</p>
				<p>
					<input type="text" class="form-control"
						data-ng-model="Privato.nomevia" required maxlength="40"
						placeholder="Nome via" /> <input type="text" class="form-control"
						data-ng-model="Privato.numerocivico" required maxlength="5"
						placeholder="numero civico" /> <input type="text"
						class="form-control" data-ng-model="Privato.scala" maxlength="2"
						placeholder="Scala">
				</p>
				<p>
					<input type="number" data-ng-model="Privato.piano" max="999"
						class="form-control" placeholder="Piano">
				</p>
			</div>
			<hr>
			<div class="form-inline" align="left">
				<p>
					<input type="text" data-ng-model="Privato.citta" required
						maxlength="20" class="form-control" placeholder="Citta'">
					<input type="text" data-ng-model="Privato.provincia" required
						maxlength="2" class="form-control" placeholder="Provincia">
					<input type="number" data-ng-model="Privato.cap" required
						min="10000" max="99999" class="form-control" placeholder="CAP">
				</p>
				<input type="text" data-ng-model="Privato.paese" required
					maxlength="20" class="form-control" placeholder="Paese">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>E-mail</legend>
				<input type="email" data-ng-model="Privato.mail1" required
					maxlength="50" class="form-control" placeholder="Indirizzo e-mail">
				<input type="email" data-ng-model="Privato.mail2" required
					maxlength="50" class="form-control"
					placeholder="Conferma indirizzo e-mail">
			</div>
			<br>
			<div class="form-inline" align="left">
				<legend>Password</legend>
				<input type="password" class="form-control"
					data-ng-model="Privato.password1" data-minlength="6" required
					maxlength="16" class="form-control" placeholder="Password">
				<input type="password" class="form-control"
					data-ng-model="Privato.password2" required maxlength="16"
					placeholder="Conferma password">
			</div>
			<br>
			<div align="left">
				<br>
				<button type="submit" class="btn btn-warning active">Send</button>
			</div>
		</form>
		<div ng-if="showErrorReg" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign"
			aria-hidden="false"></span>{{ errore }}aa
		</div>
	</div>
</div>
<style>
legend {
	color: #feb401;
}
</style>