
<span ng-if="UserNotLoggato" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span>
	Devi essere loggato prima di poter procedere con l acquisto
</span>

<span ng-if="carrello == null">
	<div class="consultaCatologo">
		<img src="assets/images/avviso_carrello_vuoto.jpg"> <a
			class="btn  active" role="button" ng-href="#/categoria">Consulta
			il catalogo</a>
	</div>
	<hr>
</span>

<div class="page-header" ng-if="carrello != null">
	<div align="right" style="margin-bottom: 10px;">
		<a ng-click="empty()" class="btn btn active">Svuota carrello</a>
	</div>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="x in carrello">Prodotto :
			{{ x.codiceProdotto }} , quantità : {{ x.qtaOrdinata }} <a
			class="btn btn-danger" role="button" ng-click="remove()"
			aria-label="Remove">Delete</a>
		</li>
	</ul>
	<div align="right">
		<a class="btn btn active" role="button" ng-click="confermaOrdine()">Procedi
			con l'acquisto</a>
	</div>
</div>
<br>
<hr>

