
<!-- <span ng-if="UserNotLoggato" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span>
	<a ng-href="#/login">Devi essere loggato prima di poter procedere con l acquisto</a>
</span> -->


<span ng-if="isEmpty">
	<div class="consultaCatologo">
		<img src="assets/images/avviso_carrello_vuoto.jpg"> <a
			class="btn  active" role="button" ng-href="#/categoria">Consulta
			il catalogo</a>
	</div>
	<hr>
</span>
<div ng-if="!isEmpty">
	<div align="right" style="margin-bottom: 10px;">
		<a ng-click="empty()" class="btn btn active">Svuota carrello</a>
	</div>
	<div class="row">
		<span ng-repeat="item in carrello">
			<div class="col-xs-6 col-md-6">
				<h3>Nome prodotto</h3>
				: {{ item.nomeProdotto }} <br> Quantit&aacute;:
				{{item.qtaOrdinata }}
			</div>
			<div class="col-sm-6">
				<a class="btn btn-danger" role="button"
					ng-click="remove({{'item'}})" aria-label="Remove">Delete</a>
			</div>
		</span>
	</div>	
	<div align="right">
		<a class="btn btn active" role="button" ng-click="confermaOrdine()">Procedi
			con l'acquisto</a>
	</div>