<div class="row">
	<div class="tbld_col col-lg-5">
	<div class="title"><h3>{{ selectProd.nome }}</h3></div>
	<label>
		<img src="assets/images/img_01.png">
	</label><br>
	<label>
			<strong> Descrizione prodotto: {{ selectProd.descrizione }}</strong>
		</label><br>
		<label>
          Prezzo
		<strong> {{ selectProd.prezzo }}</strong> 
		</label>
		
	
	</div>
	<div class="col-sm-5">
		<h5>
			Quantita
			<hr>
			<input type="number" ng-model="qta">
		</h5>
		<h2>
			<a class="btn btn active" role="button"
				ng-click="add('{{selectProd.nome}}')">Aggiungi al carrello</a> <a
				class="btn btn active" role="button" ng-href="#/">Torna al
				catalogo</a>
		</h2>
		<h2>
			<a class="btn btn active" ng-href="#/carrello" role="button">Mostra
				carrello</a>
		</h2>
	</div>
</div>

